@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-surface font-body overflow-hidden select-none;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar { display: none; }
  .hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

  .primary-gradient {
    background: linear-gradient(135deg, #d3bbff 0%, #8753e3 100%);
  }
}
